---
layout: post
---

<p class="sidebar-title" style="margin-top: 0px; color: #555;">Blogs by date.</p>
<ul class="list">
{% for post in site.posts %}
  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
  {% if year != y %}
    {% assign year = y %}
    <p class="blog-title">-- {{ y }} --</p>
  {% endif %}
  <li class="blog-li">
    <a href="{{ post.url }}">
      {{ post.title }}
    </a><br />
    <small>{{ post.date | date_to_string }}</small>
    |{% for cat in post.categories %}
    <small>{{ cat }}</small>
    {% endfor %}
  </li>
  {% endfor %}
</ul>
